.section_libros{
    color: #263636;
    padding: 25px;
    display: grid;
    grid-template-areas: 
    "rwrb ss"
    "sas sab"
    "soc ck";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-content: space-between;
            .boton{
                width: 200px;
                height: 30px;
                border-radius: 20px;
                align-self: start;
                justify-self: center;
                font-weight: bolder;
                color: #f0f0f0;
                background-color: #214942;
                transition: all 1.5s;
             }   
                        boton:hover{
                            transform: scale(1.2,1.2);
                            }  
                           
                                .rwrb{
                                    grid-area: rwrb;
                                }
                                    .ss{
                                        grid-area: ss;
                                    }
                                        .sas{
                                            grid-area: sas;
                                        }
                                            .sab{
                                                grid-area: sab;
                                            }
                                                .soc{
                                                    grid-area: soc;
                                                }
                                                    .ck{
                                                        grid-area: ck;
                                                    }
                                                    .fade {
                                                        opacity: 1;
                                                      }
}